@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'DM Serif Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: rgb(241, 241, 241);

}

/* nav style  */
nav {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 5;

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px 7vw;

}

nav #right-nav-ul li {

    margin-left: 20px;
    /* margin: 0 10px; */
}

nav ul li:hover {
    scale: 1.05;
}

nav ul li a {
    text-decoration: none;
    color: gray;

}

nav ul li a:hover {
    color: black;
}

nav ul .view-plans {
    color: black;
    border: 1px solid black;
    padding: 5px 15px;
    margin-left: 5px;
}

nav ul .view-plans:hover {
    color: white;
    background-color: black;
}

/* main style  */
/* top-section style  */
main {
    display: flex;
    flex-direction: column;
}

main .top-section {
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: 100vw;
    height: 70vh; */
    background-color: #2d2640;
    padding: 14vw 7vw;
    color: white;

}

/* svg dicore */
main .top-section .top-right-svg-desktop {
    position: absolute;
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

main .top-section .top-left-svg-desktop {
    position: absolute;
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 80%;
    left: 0;
    z-index: 1;
}

/* ----------------- */
main .top-section .left-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    z-index: 1;

}

main .top-section .right-side {
    display: relative;
    width: 50%;

}

main .top-section .right-side img {
    width: 30vw;
    position: absolute;
    right: 7vw;

}

main .top-section .left-side span {
    width: 150px;
    height: 1px;
    border: 1px solid gray;
    margin-bottom: 1.3rem;
}

main .top-section .left-side h1 {
    font-size: 3rem;
    font-family: 'DM Serif Display', 'Karla', sans-serif;
}


main .top-section .left-side button {
    width: 200px;
    margin: 30px 0 0 0;
    padding: 7px 15px;
    background: none;
    border: 1px solid white;
    color: white;
}

main .top-section .left-side button:hover {
    scale: 1.05;
    color: #2d2640;
    background-color: white;
}

/* bottom-section syle  */
main .bottom-section {
    display: flex;
    flex-direction: column;
    margin: 14vw 7vw;
    z-index: 1;
}

main .bottom-section span {
    width: 150px;
    height: 1px;
    background-color: gray;
    border: 1px solid gray;
    margin-bottom: 1.9rem;
}

main .bottom-section h2 {
    font-size: 3rem;
    font-family: 'DM Serif Display', 'Karla', sans-serif;
}

main .bottom-section .first-article {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 7vw;

}

main .bottom-section .first-article div {
    padding: 20px;
}
main .bottom-section h3{
    margin: 0 0 10px  0;
    font-size: 1.2rem;
    color: black;
    font-family: 'DM Serif Display', 'Karla', sans-serif;

}
main .bottom-section p{
    color: #696969;
}

main .bottom-section .first-article div img {
    width: 20%;
}

main .bottom-section .second-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2640;
    color: white;
    padding: 60px;
    /* svg dicore */
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right
}

main .bottom-section .second-article h2 {
    line-height: 2.5rem;
}

main .bottom-section .second-article button {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 7px 10px;
    width: 150px;
}

main .bottom-section .second-article button:hover {
    scale: 1.05;
    background-color: white;
    color: #2d2640;
}

/* footer style  */
footer {
    background-color: #d3d3d3;
    color: black;
    padding: 4vw 7vw;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
}

footer .first-footer-section {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

footer .first-footer-section .social-media-icons svg {
    margin-left: 10px;
}
footer .first-footer-section .social-media-icons #facebook-icon{
    margin-left: 0px;
}
footer .first-footer-section .social-media-icons svg:hover path {
    fill: black;
}

footer .second-footer-section {
    padding-top: 2rem;
    display: inherit;
    justify-content: space-between;
}

footer .second-footer-section p {
    color: gray;
    padding: 10px 0;
}

footer .second-footer-section ul {
    list-style: none;
}

footer li:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* media queries  */
@media (max-width:1200px) {
    main .top-section .right-side img {
        width: 35vw;
    }

    main .top-section .left-side {
        width: 70%;
    }

    main .bottom-section .first-article div img {
        width: 25%;
    }

}

@media (max-width:992px) {
    main .top-section .right-side img {
        width: 41vw;
    }

    main .top-section .left-side {
        width: 54%;
    }

    main .top-section .left-side h1 {
        font-size: 2.45rem;
    }

    main .bottom-section .first-article div img {
        width: 30%;
    }

    main .bottom-section h2 {
        font-size: 2.5rem;

    }

    main .bottom-section .second-article button {
        padding: 7px 10px;
    }

    main .bottom-section .second-article {
        padding: 30px;
    }
}

@media (max-width:768px) {
    nav ul {
        margin: 10px 3vw;
    }

    nav #right-nav-ul li {

        margin-left: 20px;
    }

    footer {
        padding: 4vw 3vw;
    }

    main .bottom-section {
        margin: 14vw 3vw;
    }

    main .top-section .right-side img {
        right: 3vw;

    }

    main .top-section {
        padding: 14vw 3vw;
    }

}

/* mobile menu style */


/* menu  */
#mobile-menu {
    display: none;
    padding: 45px 3vw 10vw;
    line-height: 2.5rem;
    background-color: #2b2930;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 45px);
    top: 45px;
    left: 0;
   
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: bottom ;
    z-index: 2;
}
#mobile-menu div{
    width: 100%;
}
#mobile-menu div ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#mobile-menu div ul li {
    align-self: center;
    list-style: none;
}
#mobile-menu div ul .view-plans{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 15px;
    margin-left: 5px;
}


#mobile-menu div ul .view-plans:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#mobile-menu a{
    text-decoration: none;
    color: white;
}
#mobile-menu a:hover{
    color: rgb(211, 211, 211);
}
/* mobile menu icon  */
#mobile-menu-icon {
    display: none;
    
}
#mobile-menu-icon:hover{
    scale: 1.05;
}
#mobile-menu-icon #contain-bars{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: auto 0;
    
}
#mobile-menu-icon #contain-bars div{
    
    width: 100%;
    height: 1px;
    background-color: black;
    
}
/* menu icon transition  */


.open .bar-1{
    -webkit-transform: rotate(45deg) translate(3px,3px) ;
    transform: rotate(45deg) translate(3px,3px);
}
.open .bar-2{
    opacity: 0;
}
.open .bar-3{
    -webkit-transform: rotate(-45deg) translate(3px,-3px) ;
    transform: rotate(-45deg) translate(3px,-3px);
}
/* ----------------- */
/* top-image-section style  */
.top-image-section{
    display: none;
}
/* ----------------------- */
@media (max-width:576px) {
    nav #right-nav-ul {
        display: none;
    }

    #mobile-menu-icon {
        display: block;
    }
    nav {
        align-items: center;
    }
    .show-me #mobile-menu{
        display: flex;
       
    }
    main .top-section {
        flex-direction: column;
    }
    /* svgs of top section  */
    main .top-section .top-right-svg-desktop {
        position: absolute;
        background-image: url(./images/bg-pattern-intro-right-mobile.svg);
        background-size: contain;
        background-position: bottom right;
        background-repeat: no-repeat;
        height: 100%;
        width: 30%;
        top: 60%;
        right: 0;
        z-index: 1;
    }
    
    main .top-section .top-left-svg-desktop {
        position: absolute;
        background-image: url(./images/bg-pattern-intro-left-mobile.svg);
        /* background-size: contain; */
        background-position: top left;
        background-repeat: no-repeat;
        height: 30%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    main .top-section .left-side {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    
    }
    
    main .top-section .right-side {
        display: relative;
        width: 50%;
    
    }
    
    main .top-section .right-side img {
        display: none;
    
    }
    main .top-section .left-side p{
        text-align: center;
    }
    
    main .top-section .left-side span {
        display: none;
    }
    
    main .top-section .left-side h1 {
        font-size: 3rem;
        font-family: 'DM Serif Display', 'Karla', sans-serif;
        text-align: center;
    }
    
    
    main .top-section .left-side button {
        width: 150px;
    }
    /* top image section  */
    .top-image-section{
        display: block;
        /* width:100vw; */
    }
    .top-image-section img{
        width: 100%;
        height: 100%;
        bottom: 0;
    }
    /* bottom section style  */
    main .bottom-section {
        text-align: center;
    }
    main .bottom-section span {
        align-self: center;
    }
    main .bottom-section .first-article {
        flex-direction: column;
        width: 100%;
        margin-bottom: 7vw;
        margin-bottom: 90px;

    }
    main .bottom-section .first-article div {
        padding:0px;
    }
    main .bottom-section .first-article div img {
        margin: 5%;
        width: 15%;
    }
    main .bottom-section .first-article div{
        margin-top: 30px;
    }
    main .bottom-section .second-article {
        flex-direction: column;
        /* svg dicore */
        background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
    }
    main .bottom-section .second-article button {
        margin-top: 20px;
    }
    /* footer in mobile  */
    footer .first-footer-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    footer .first-footer-section .social-media-icons{
        margin-top: 10px;
    }
    footer .second-footer-section {
        padding-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .second-footer-section div{
        margin-top: 10px;
    }
    footer {
        background-image: url(./images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
        background-position: top left;
    }
}